h1,h2,h3,h4,h5,h6 { font-weight: bold; margin:0; }
body,div,dl,dt,dd,form,fieldset,input,textarea,blockquote,th,td,ul,p { 
    margin:0;
    padding:0;
}
fieldset,img {
	border:none;
}
a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin:0;padding:0;list-style:none; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height:0; visibility:hidden;	 } 
.clearfix:after { clear: both; }
.clearfix {zoom: 1;}
.clearfix:after,
.wrap:after,
.row:after,
.hold:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}